body {
    padding-top: 50px;
    padding-bottom: 20px;
    
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custome style..*/


.bgImage {
    background-color: white;
    color: rgb(40, 36, 36) !important;
    z-index: 10;
}

.navbar-inverse {
    /*opacity: 0.9;*/
    color: white !important;
    z-index: 11;
}
.navbar-cs {
    opacity: 0.7;
    color: white !important;
    z-index: 12;
}
.jumbotron-cs{
    height: 50px;
    /*background-image: url(https://raw.githubusercontent.com/bjtvpatel/JustIT_Office_Training/master/Week-5/TechMVCDatabase/Photos/Banner/banner_1015x303.jpg);*/
    
    
}
.creatRow-cs {
    margin-left: 5px;
}
.createLabel {
    padding: 5px 0px;
    font-size: 1.1em;
    margin-left: 0px;
    width: 150px;
    
}
.btn-filter {
    padding: 5px 0px;
    font-size: 1.1em;
    margin-left: 10px;
    width: 70px;
}
.dropdown-cs {
    padding: 5px 0px;
    font-size: 1.1em;
    margin-left: 10px;  
}
.row-display {
    vertical-align: middle;
    align-content: center;
    
}
.column-display {
    height: 490px;
    width: 350px;
    position: relative;
    /*background-color: azure;*/
    border: 1px solid  #e6e6e6;
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 10px 10px;
    padding: 0px;
    
}

.column-display p {
    margin-top: 5px; 
    text-align: center;
     
}
.imgGallary-cs {
    height: 375px;
    width: 275px;
    display: inline-block;
    border: 0px;
    
}

.rowLabel-cs
{

    margin-left: 45px;
      
}
.columnlable-cs
{
    padding: 0px 20px;
    
     
    margin-left: 0px;
}
