.top_bar{background-color:#18bc9c;}
 .wrapper { padding-left: 0 !important;  padding-right: 0 !important; width:100%; margin:0 0 !important;}
a.social_icon{margin-right:5px !important;}

a.social_icon.icon_css{font-size:1.1em; color:#18bc9c;}

.top_bar ul {list-style-type:none; text-align:right;}

.top_bar ul li{display:inline; margin-right:10px;}

.top_bar ul li a:hover{color:black;}

img.category-Img{ width:200px; height:165px;}

.banner_cs {    /*border: 1px solid;*/    background-image:url(/Img/Banner/b6_1073x173.jpg);
                max-width:100%;   height:174px;  background-size:100% 100%; background-attachment:fixed;   }

.mynavbar .navbar-collapse{z-index:10 !important}

button.navbar-toggle{margin:10px auto; z-index:10 !important;}

.horizontan_menu{clear:both; padding:0; margin-top:80px; z-index:5!important; }

.category_title {    background-color: rgb(128, 128, 128);    color: #fff;    margin: 10px 0;
    height: 40px;    border: 1px solid;    border-radius: 5px;}
 
.category_title h3 {        font-size:1.5em;        margin:10px auto !important;   }

.list_css{padding-bottom:20px; margin-bottom:10px;}

.panel-heading { height:100px; padding:5px 10px;font-size:1.0em;}

.panel-heading table{width:100%; height:50px;}

.panel-heading td{font-size:0.9em;}

.price_css{font-size:1.0em;}

.info_css{height:50px; padding-left:10px; font-size:0.7em;}



@media(max-width:1200px){

}



@media (max-width: 691px) (min-width:481px) {
    col-xs-6{width:33% !important;}
     .wrapper { padding-left: 0 !important;  padding-right: 0 !important; width:100%; margin:0 0 !important;}
    a.navbar-brand{padding-left:0;}
    
    button.navbar-toggle{margin:10px auto; z-index:10 !important;}
    
    .mynavbar .navbar-collapse ul li{z-index:10!important;}
    
    #navbar-collapse{margin-top:50px; width:100%;}
    
    a.social_icon{margin-right:2px !important;}
    
    a.social_icon.icon_css{font-size:0.8em; color:#18bc9c;}

    .top_bar_control{ padding-left:10px;}
    
    .horizontan_menu{clear:both;padding:0; margin-top:80px; font-size:0.4em;}
    
    #horizontal_menu a{      padding-left:0;       padding-right:0;  }

    .category_title h3 { font-size:1.1em; margin:10px auto;  }

    img.category-Img { width: 150px; height: 90px; }

    .category_title { margin: 8px 0;  height: 30px;  border: 1px solid;  border-radius: 5px;  }
    
    .body-content{margin-top:20px !important; padding:0 5px !important;}
    
    .list_css{padding-bottom:10px; margin-bottom:5px;}

    .panel-heading { height:60px; padding:2px 5px;font-size:0.8em;}

    .panel-heading table{width:100%; height:50px;}
    
    .panel-heading td{font-size:0.8em;}
    
    .price_css{font-size:0.9em;}

    .addtocart-btn{padding:5px 10px; font-size:x-small;}

    #page-btn a {font-size:x-small !important;}

    .info_css{height:40px; padding-left:5px; font-size:0.5em;}

    .checkout_css{padding:2px 5px; font-size:small; margin:10px 5px; }

    #cartTable thead > tr > th {font-size:0.5em;}
    
    #cartTable tbody > tr > td  {font-size:0.4em;}

    #cartTable th td{padding:2px 3px !important;}
    
    #cartTable tfoot > tr > td {font-size:0.5em;}

}

@media screen and (max-width: 767px) {
     .wrapper { padding-left: 0 !important;  padding-right: 0 !important; width:100%; margin:0 0 !important;}
    a.navbar-brand{padding-left:0;}
    
    button.navbar-toggle{margin:10px auto; z-index:10 !important;}
    
    .mynavbar .navbar-collapse ul li{z-index:10!important;}
    
    #navbar-collapse{margin-top:50px; width:100%;}
    
    a.social_icon{margin-right:2px !important;}
    
    a.social_icon.icon_css{font-size:0.8em; color:#18bc9c;}

    .top_bar_control{ padding-left:10px;}
    
    .horizontan_menu{clear:both;padding:0; margin-top:80px; font-size:0.4em;}
    
    #horizontal_menu a{      padding-left:0;       padding-right:0;  }

    .category_title h3 { font-size:1.1em; margin:10px auto;  }

    img.category-Img { width: 150px; height: 90px; }

    .category_title { margin: 8px 0;  height: 30px;  border: 1px solid;  border-radius: 5px;  }
    
    .body-content{margin-top:20px !important; padding:0 5px !important;}
    
    .list_css{padding-bottom:10px; margin-bottom:5px;}

    .panel-heading { height:60px; padding:2px 5px;font-size:0.8em;}

    .panel-heading table{width:100%; height:50px;}
    
    .panel-heading td{font-size:0.8em;}
    
    .price_css{font-size:0.9em;}

    .addtocart-btn{padding:5px 10px; font-size:x-small;}

    #page-btn a {font-size:x-small !important;}

    .info_css{height:40px; padding-left:5px; font-size:0.5em;}

    .checkout_css{padding:2px 5px; font-size:small; margin:10px 5px; }

    #cartTable thead > tr > th {font-size:0.5em;}
    
    #cartTable tbody > tr > td  {font-size:0.4em;}

    #cartTable th td{padding:2px 3px !important;}
    
    #cartTable tfoot > tr > td {font-size:0.5em;}

}


@media (max-device-width: 480px) and (orientation: landscape) {
    .wrapper { padding-left: 0 !important;  padding-right: 0 !important; width:100%; margin:0 0 !important;}
                 
    a.navbar-brand{padding-left:0;}
    
    button.navbar-toggle{margin:10px auto; z-index:10 !important;}
    
    .mynavbar .navbar-collapse ul li{z-index:10!important;}
    
    #navbar-collapse{margin-top:50px; width:100%;}
    
    a.social_icon{margin-right:2px !important;}
    
    a.social_icon.icon_css{font-size:0.8em; color:#18bc9c;}

    .top_bar_control{ padding-left:10px;}
    
    .horizontan_menu{clear:both;padding:0; margin-top:80px; font-size:0.4em;}
    
    #horizontal_menu a{      padding-left:0;       padding-right:0;  }

    .category_title h3 { font-size:1.1em; margin:10px auto;  }

    img.category-Img { width: 150px; height: 90px; }

    .category_title { margin: 8px 0;  height: 30px;  border: 1px solid;  border-radius: 5px;  }
    
    .body-content{margin-top:20px !important; padding:0 5px !important;}
    
    .list_css{padding-bottom:10px; margin-bottom:5px;}

    .panel-heading { height:60px; padding:2px 5px;font-size:0.8em;}

    .panel-heading table{width:100%; height:50px;}
    
    .panel-heading td{font-size:0.8em;}
    
    .price_css{font-size:0.9em;}

    .addtocart-btn{padding:5px 10px; font-size:x-small;}

    #page-btn a {font-size:x-small !important;}

    .info_css{height:40px; padding-left:5px; font-size:0.5em;}

    .checkout_css{padding:2px 5px; font-size:small; margin:10px 5px; }

    #cartTable thead > tr > th {font-size:0.5em;}
    
    #cartTable tbody > tr > td  {font-size:0.4em;}

    #cartTable th td{padding:2px 3px !important;}
    
    #cartTable tfoot > tr > td {font-size:0.5em;}


    }

