<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://book.baldevpatel.co.uk/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>109.203.102.25</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>book.baldevpatel.co.uk</FtpSitePath>
    <UserName>terrafirma</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=sql6002.smarterasp.net;Initial Catalog=DB_A2657B_kidsstore;Persist Security Info=True;User ID=DB_A2657B_kidsstore_admin;Password=Jignesh198!;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>