@model System.Diagnostics.Process
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>Details <br />
    process name = @Model.ProcessName
    process id = @Model.Id

</p>