@{
    ViewBag.Title = "Order Submitted";
}
<link href="~/Content/bootstrap-flaty.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Thanks!</h2>
<p>Thanks for placing an order and we will ship your goods as soon as possible.</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>